<div class="text-center px-2 py-4">
 <h2 class="text-lg">{{title}}</h2>
  </div>
  <div>
    <app-card-container>
        <app-search (outChangeCity)="changeCity($event)"></app-search>
    </app-card-container>
  </div>
  <div class="mb-2 px-2 py-2">
    <app-card-container>
      <app-map-component [latitudeCity]="city.latitude" [longitudeCity]="city.longitude"></app-map-component>
    </app-card-container>
  </div>
  <div class="mb-2 px-2 py-2">
    <app-card-container>
     <app-graph [options] = "options.value" [updateOptions] = "updateOptions"></app-graph>
    </app-card-container>
  </div>
  <div class="inline-block">
    <div class="mb-2 px-2 py-2">
      <app-card-container>
      </app-card-container>
    </div>
    <div class="mb-2 px-2 py-2">
      <app-card-container>
        <app-people [population]="city.population" ></app-people>
      </app-card-container>
    </div>
</div>

